<section class="section">
  <div class="container">
    <button class="button" md-mini-fab routerLink="/"><ng-fa name="arrow-left"></ng-fa></button>
    <div class="columns is-centered">
      <div class="column is-4">
        <div class="card">
          <header class="card-header">
            <div class="card-header-icon">
              <ng-fa name="lock"></ng-fa>
            </div>
            <p class="card-header-title">
              Login
            </p>
          </header>
          <form (ngSubmit)="tryLogin($event)">
            <div class="card-content">
              <p class="sign-in-error" *ngIf="signInError && signInError.length > 0">
                <ng-fa name="exclamation-circle"></ng-fa>
                {{signInError}}
              </p>
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input class="input" name="userEmail" [(ngModel)]="user.email">
                  <ng-fa class="icon is-left" name="envelope"></ng-fa>
                </div>
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input class="input" name="password" type="password" [(ngModel)]="user.password">
                  <ng-fa class="icon is-left" name="key"></ng-fa>
                </div>
              </div>
            </div>
                <div class="card-footer">
                  <div class="control card-footer-item">
                    <button type="button" class="button is-link">Lost password</button>
                  </div>
                  <div class="control card-footer-item">
                    <button type="submit" class="button is-medium is-primary" [disabled]="disableButton">{{buttonText}}</button>
                  </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
