<div class="container">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="button is-large is-white" routerLink="/">{{title}}</a>
    </div>
    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="button is-large is-white" *ngIf="!user" routerLink="/login">
          <p>Sign in</p>
          <ng-fa class="icon" name='sign-in'></ng-fa>
        </a>

        <div *ngIf="user">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="button is-large is-white">
              <ng-fa class="icon icon-is-large" name="ellipsis-v"></ng-fa>
            </a>
            <div class="navbar-dropdown is-right">
              <p class="navbar-item">
                {{user?.profile.displayName}}
              </p>
              <hr class="navbar-divider">
              <a class="navbar-item" routerLink="/profile">
                <ng-fa class="icon" name="user-circle-o"></ng-fa>
                <p>Profile</p>
              </a>
              <a class="navbar-item" *ngIf="user.role.name === 'admin'" routerLink="/admin">
                <ng-fa class="icon" name="cog"></ng-fa>
                <p>Admin</p>
              </a>
              <a class="navbar-item" (click)="logout()">
                <ng-fa class="icon" name='sign-out'></ng-fa>
                <p>Sign out</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <p class="title">
        {{pageTitle}}
      </p>
    </div>
  </div>
</section>
