<ct-top-toolbar [title]="'Contingency Tracker'" [pageTitle]="'Contingency Management'"></ct-top-toolbar>
<ct-exam-create 
  [creatingExam]="creatingExam"
  [exam]="exam"
  [error]="error"
  (creatingExamEvent)="creatingExamEvent($event)" 
  (createExamEvent)="createExamEvent($event)"></ct-exam-create>
<ct-exam-update
  [updatingExam]="updatingExam"
  [exam]="exam"
  [error]="error"
  [updatingExamEvent]="updatingExamEvent($event)"></ct-exam-update>
<ct-exam-list *ngIf="!creatingExam" [exams]="exams"></ct-exam-list>