<div fxLayout="row" fxLayoutWrap>
  <md-card fxFlex="25" routerLink="/admin/users">
    <md-card-content fxLayout="row" fxFlexAlign="center">
      <div fxFlex="4em"><ng-fa name="user" size="4x"></ng-fa></div>
      <div fxFlex>
        <h1>Users</h1>
      </div>
    </md-card-content>
  </md-card>
  <md-card fxFlex="25" routerLink="/admin/contingency-management">
    <md-card-content fxLayout="row" fxFlexAlign="center">
      <div fxFlex="4em"><ng-fa name="book" size="4x"></ng-fa></div>
      <div fxFlex>
        <h1>Contingency Versions</h1>
      </div>
    </md-card-content>
  </md-card>
</div>