<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-quarter">
        <div class="card" routerLink="/admin/users">
          <div class="card-content">
            <div class="level">
              <div class="level-item has-text-centered">
                <ng-fa class="icon is-large" name="user" size="4x"></ng-fa>
                <h1>Users</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="column is-one-quarter">
        <div class="card" routerLink="/admin/contingency-management">
          <div class="card-content">
            <div class="level">
              <div class="level-item has-text-centered">
                <ng-fa class="icon is-large" name="book" size="4x"></ng-fa>
                <h1>Contingency Versions</h1>
              </div>    
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
