<div>
  <div class="card">
    <div class="card-content">
      <p class="title">{{exam?.name}}</p>
    </div>

    <footer class="card-footer" *ngIf="!validateDelete">
      <a class="button is-inverted card-footer-item is-info">Info</a>
      <a class="button is-inverted card-footer-item is-success">Edit</a>
      <a class="button is-inverted card-footer-item is-danger" (click)="deleteValidation(true)">Delete</a>
    </footer>
    <footer *ngIf="validateDelete" class="card-footer">
      <a class="button is-inverted card-footer-item is-success" (click)="delete()">Yes</a>
      <a class="button is-inverted card-footer-item is-danger" (click)="deleteValidation(false)">No</a>
    </footer>
  </div>
</div>